extends ./layout.jade
block contenido
  h1(class="titulo") Listado de Operaciones
  div(class="flex")
      if user == undefined
        div
          a(href="/login" class=" btn btn-primary btn-lg btncss" role="button") Iniciar Sesión
        div
          a(href="/signup" class="btn btn-primary btn-lg btncss" role="button") Registrarse
        //div
          a(href="/rmovement" class="btn btn-primary btn-lg btncss" role="button") Ver mis movimientos
      else
        div
          a(href="/close" class=" btn btn-primary btn-lg btncss btnubicacion " role="button") Cerrar sesión
        div
          a(href="/rmovement" class="btn btn-primary btn-lg btncss" role="button") Ver mis movimientos
      