extends ./layout.jade
block contenido
  h1 Carga de Fondos
  a(href="/login" class=" btn btn-primary btn-lg btncss" role="button") Iniciar Sesión
  a(href="/signup" class="btn btn-primary btn-lg btncss" role="button") Registrarse
  
