extends ./layout.jade
block contenido
  h1 Carga de Fondos
  div(class="flex")
      div(class="block")
        a(href="/login" class=" btn btn-primary btn-lg btncss" role="button") Iniciar Sesión
      div(class="block")
        a(href="/signup" class="btn btn-primary btn-lg btncss" role="button") Registrarse
      div(class="block")
        a(href="/rmovement" class="btn btn-primary btn-lg btncss" role="button") Ver mis movimientos