extends ./layout.jade
block contenido
  h1 Iniciar Sesión
  form(action="/sessions",method="POST")
    div(class="form-group")
      label(for="username") Usuario
      input(type="text", name="username", placeholder="Usuario", class="form-control")
    div
      label(for="password") Contraseña
      input(type="password", name="password",placeholder="password", class="form-control")
    div
      input(type="submit" value="Iniciar sesión" class="btn btn-info btncss")
