extends ./layout.jade
block contenido
  section(class="container forms")
        div(class="form login")
            div(class="form-content")
                header Iniciar Sesión
                 form(action="/sessions",method="POST")
                  div(class="field input-field")
                    input(type="text", name="username", placeholder="Usuario", class="input" required)
                  div(class="field input-field")
                    input(type="password", name="password",placeholder="Contraseña", class="password" required)
                    i(class="bx bx-hide eye-icon")
                  div(class="field button-field")
                    input(type="submit" value="Iniciar sesión" id="inicio" class="btn btn-primary btn-lg btncss")
                  div(class="field button-field")
                    a(href="/" class="btn btn-primary btn-lg btncss btn-cancel") Cancelar
    script.
      const form= document.querySelector(".form"),
        pwShowHide = document.querySelectorAll(".eye-icon");
      pwShowHide.forEach(eyeIcon => {
        eyeIcon.addEventListener("click", () => {
            let pwFields = eyeIcon.parentElement.parentElement.querySelectorAll(".password");
            pwFields.forEach(password => {
                if(password.type === "password"){
                    password.type = "text";
                    eyeIcon.classList.replace("bx-hide", "bx-show");
                    return;
                }
                  password.type = "password";
                  eyeIcon.classList.replace("bx-show", "bx-hide");
            })
          
        })
      })
    
                         
//-
  h1(class="cargamov") Iniciar Sesión
  form(action="/sessions",method="POST")
    div(class="form-group")
      label(for="username") Usuario
      input(type="text", name="username", placeholder="Usuario", class="form-control" required)
    div
      label(for="password") Contraseña
      input(type="password", name="password",placeholder="Contraseña", class="form-control" required)
    div
      input(type="submit" value="Iniciar sesión" class="btn btn-info btn-primary btn-lg btncss")
    div
        a(href="/" class="btn btn-primary btn-lg btn-cancel" role="button") Cancelar