/*Titulos*/
h1{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1.cargamov{
  margin-top: 100px !important;
}

.titulo{
  margin-top: 150px;
}

/*Fondo de la pagina*/
body{
  /* background: #dcdcdc; */
  background: #fcfcfc;
  /*margin: 20rem;*/
  margin: 0px;
  padding: 0px;
  text-align: center;
  overflow-y: auto !important;
  -webkit-device-pixel-ratio: 1;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.flex{
  display: flex;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*Botones de ingreso*/
.btnubicacion{
  position: relative !important;
  top: -247px !important;
  left: 48% !important;
}

.btncss{
  display: block !important;
  display: inline-block !important;
  text-align: center !important;
  background-color: #1F3556;
  color: rgb(255, 255, 255);
  margin: 1rem 1rem 0 0;
  border-radius: 0.5rem; 
  border: 0;
  width: 200px;
  padding: 10px 0;
  box-shadow: 0 0 20px rgba(67, 63, 84, 0.2);
  transition: 0.4s;
}

.btn-cancel{
    display: block !important;
    display: inline-block !important;
    text-align: center !important;
    background-color: #454a52;
    color: rgb(255, 255, 255);
    margin: 1rem 1rem 0 0;
    border-radius: 0.5rem; 
    border: 0;
    width: 150px;
    padding: 10px 0;
    box-shadow: 0 0 20px rgba(67, 63, 84, 0.2);
    transition: 0.4s; 
}

.nombregrupoposicion{
  position: relative !important;
  top: -247px !important;
  /* left: 48% !important; */
}

.toright{
  text-align: right;
  margin-right: 10rem;
}

.btncss:hover{
  background-color: #91c7c9;
  color: white;
  border: #91c7c9;
  border-radius: 1px; 
}

.btninline{
  font-size: large;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #337ab7;
  text-decoration: none;
  margin: 1rem; 
}

.btncarga{
  position: absolute !important;
  top: 130px !important;
  left: 90px !important;
}

.btncrrsesion{
  position: absolute !important;
  top: 10px !important;
  right: 200px !important;
}

.margindown{
  border-collapse: separate !important; 
  border-spacing: 0 5em !important;  
}

.form-control{
	width: 30% !important;
  margin-right: auto !important;
  margin-left: auto !important;
}

label{
  margin-bottom: 7px !important;
  margin-top: 7px !important;
}

.form-group{
  margin-top: 50px !important;
  margin-bottom: 5px !important;
}

.centrado{
  position: absolute !important;
  top: 0px !important;
  left: 20px !important;
}

.tit2{
  position: absolute !important;
  top: 30px !important;
  left: 0px !important;
  right:0px !important;
}

.grupo{
  position: absolute !important;
  top: 70px !important;
  left: 0px !important;
  right:0px !important;
}

.intro{
  position: relative !important;
  top: -140px !important;
  left: 0px !important;
  right: 0px !important;
  font-size: medium;
}

.padding_r{
  padding: 4px 1rem 5px 5px !important;
  margin: 0 !important;
  box-sizing: border-box !important;
}

table.table{
  display: block !important;
  overflow-y: auto !important;
  overflow-x: auto !important;
  width:90% !important;
  margin-top: 200px !important;
  margin-left: auto !important;
  margin-right: auto !important;
  border-bottom: 1px solid #cfcdcd !important;
  border-top: 1px solid #cfcdcd !important;
  border-right: 1px solid #cfcdcd  !important;
  /* background-color: #e9e9e9 !important; */
  background-color: #ffffff !important;
  table-layout: auto !important;
  height: 600px !important;
}

th.tabHead{
  width: 50% !important;
  padding: 4px 1rem 5px 5px !important;
  text-align: center;
  border-right:  1px solid #cfcdcd !important;
  border-left:  1px solid #cfcdcd !important;
  white-space: nowrap !important;
}

td.tabHead{
  width:50% !important;
  padding: 4px 1rem 5px 5px !important;
  text-align: center;
  border-right:  1px solid #cfcdcd !important;
  white-space: nowrap !important;
}

td.hide1{
  display: none !important;
}

th.hide1{
  display: none !important;
}


tr:hover {
  background-color: #c9c3c3;
  transition: 0.4s;
}

.divider{
  border-right:1px solid #cfcdcd !important;
  border-left:1px solid #cfcdcd !important;
}

footer{
  display: block;
  bottom: 0px !important;
  text-align: center;
}

.imgMov{
  position: absolute !important;
  width:100px; /* you can use % */
  height: auto;
  top: 18px !important;
  right: 90px !important;
}

.cartel{
  background-color:#337ab7; 
}