body{
  background: #ffffff;
  margin: 20rem;
  text-align: center;
}

.block{
  display: block;
  position: relative;
}

.flex{
  display: flex;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.btncss{
  background-color: rgb(33, 91, 121);
  color: rgb(255, 255, 255);
  border: white solid;
  margin: 1rem 1rem 0 0;
}

.btncss:hover{
  background-color: rgb(69, 95, 108);;
  color: white;
  border: white solid;
}


.padding_r{
  padding: 0 1rem 0 0;
}

.btninline{
  font-size: large;
  color: #337ab7;
  text-decoration: none;
  margin: 1rem; 
}

.margindown{
  border-collapse: separate; 
  border-spacing: 0 5em;  
}

